*{
    margin: 0px;
}
#block_content{
    position: absolute;
    left: 33%;
    width: 70vh;
    height: 100vh;
    display: flex;
    background-image: url(./img/gradient.jpg);
    flex-direction: column;
    justify-content: center;
     align-items: center;
}
.login{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

}
.registr{
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-family: 'Lobster', cursive;
    padding-top: 20px;
}
.accept_reg{
    display: flex;
    flex-direction: row;
}
#done{
    padding-left: 6px;
    padding-bottom: 8px;
}
.registr_button{
    height: 38px;
    border: 0px;
    width: 300px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    background-color: rgb(109, 5, 141);
    color: rgb(230, 205, 205);
}
#closeImage{
    padding-left: 5px;
    padding-top: 5px;
    height: 28px;
    width: 29px;
    align-self: center;

}
.password{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 .sign_in{
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-family: 'Lobster', cursive;
    padding-top: 20px;
     
 }
 .sign_in1{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     
 }
 .label{
     margin-bottom: 18px;
     padding:15px 75px 15px 75px;
     text-align: center;
     border-color: black;
     font-size:16px;
     border-width: 1px;
     background-color: rgb(245, 242, 204);
 }

 .click{
    font-family: 'Lobster', cursive;
    height: 38px;
    border: 0px;
    width: 53vh;
    font-size: 20px;
    background-color: rgb(109, 5, 141);
    color: rgb(230, 205, 205);
 }